:root {
    --primary: #3F9FFE;
    --secondary: #0080FF;
}

*{
    padding: 0;
    margin: 0;
    color: #212121;
    background-color: #e7f4e4;
}
.primary{
    color: var(--primary) !important;
}
.secondary {
    color: var(--secondary) !important;
}
.navigation a {
    font-size: 1.5rem !important;
}